

.active{
    background-color: rgba(0, 102, 255, 0.94) !important;
    color: white;
} 

.scorer-rows {
    margin-bottom: 10px;
}
.next-ball-col{
    margin: 0 auto;
}
.out-btn {
    background-color: #dc8b35;
    color: black;
    cursor:pointer;
}
.next-ball-btn {
    background-color: #28a745;
    color: white;
}
.extraBtn{
    width: 100%;
}
